.message {
  display: flex;
  flex-direction: row;
  border-radius: var(--border-radius-l);
  padding: var(--space-m);
  max-width: 40%;

  &--sent {
    background-color: var(--color-light);
    justify-content: flex-end;
  }

  &--received {
    border: var(--border);
    background-color: var(--color-white);
  }
}

